#img{
    height: 70px;
    width: 100px;
}
#ul-text{
    font-size: 20px;

}
#more_details{
    margin-left: 70px;
    margin-top: 50px;
}
#display_planets{

}



.pagination{
margin-top: 120px;
}
 .pagination a {
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
     transition: background-color .3s;
 }

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
table{
    margin-left: 100px;
    border-collapse: collapse ;
    margin-top: 30px;

}
table, th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

